In [61]:
#import package
import os
import glob
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import re

In [62]:
retval = os.getcwd()
path = '/Users/jinq/Desktop/Duke-2020-spring/data analysis in cloud/YouTube-Spam-Collection-v1'
os.chdir(path)

In [63]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
all_filenames

['Youtube03-LMFAO.csv',
 'Youtube04-Eminem.csv',
 'Youtube05-Shakira.csv',
 'Youtube02-KatyPerry.csv',
 'youtube_spam.csv',
 'Youtube01-Psy.csv']

In [64]:
df1 = pd.read_csv("Youtube01-Psy.csv")
df2 = pd.read_csv("Youtube02-KatyPerry.csv")
df3 = pd.read_csv("Youtube03-LMFAO.csv")
df4 = pd.read_csv("Youtube04-Eminem.csv")
df5 = pd.read_csv("Youtube05-Shakira.csv")

In [65]:
#combine all files in the list
all_dfs = [df1,df2,df3,df4,df5]

In [66]:
df_merged = pd.concat(all_dfs)
df_merged.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [67]:
keys = ["Psy","KatyPerry","LMFAO","Eminem","Shakira"]

In [68]:
df_with_keys = pd.concat(all_dfs,keys=keys)
df_with_keys

                                              COMMENT_ID  \
Psy     0    LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU
        1    LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A
        2    LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8
        3            z13jhp0bxqncu512g22wvzkasxmvvzjaz04
        4            z13fwbwp1oujthgqj04chlngpvzmtt3r3dw
...                                                  ...
Shakira 365  _2viQ_Qnc6-bMSjqyL1NKj57ROicCSJV5SwTrw-RFFA
        366  _2viQ_Qnc6-pY-1yR6K2FhmC5i48-WuNx5CumlHLDAI
        367  _2viQ_Qnc6_k_n_Bse9zVhJP8tJReZpo8uM2uZfnzDs
        368  _2viQ_Qnc6_yBt8UGMWyg3vh0PulTqcqyQtdE7d4Fl0
        369  _2viQ_Qnc685RPw1aSa1tfrIuHXRvAQ2rPT9R06KTqA

                           AUTHOR                        DATE  \
Psy     0               Julius NM         2013-11-07T06:20:48
        1             adam riyati         2013-11-07T12:37:15
        2        Evgeny Murashkin         2013-11-08T17:34:21
        3         ElNino Melendez         2013-11-09T08:28:43
        4                  GsMega         2013-11-10T16:05:38
...                           ...                         ...
Shakira 365          Katie Mettam  2013-07-13T13:27:39.441000
        366  Sabina Pearson-Smith  2013-07-13T13:14:30.021000
        367         jeffrey jules  2013-07-13T12:09:31.188000
        368        Aishlin Maciel  2013-07-13T11:17:52.308000
        369           Latin Bosch  2013-07-12T22:33:27.916000

                                                       CONTENT  CLASS
Psy     0    Huh, anyway check out this you[tube] channel: ...      1
        1    Hey guys check out my new channel and our firs...      1
        2               just for test I have to say murdev.com      1
        3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
        4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
...                                                        ...    ...
Shakira 365  I love this song because we sing it at Camp al...      0
        366  I love this song for two reasons: 1.it is abou...      0
        367                                                wow      0
        368                            Shakira u are so wiredo      0
        369                         Shakira is the best dancer      0

[1956 rows x 5 columns]

In [69]:
#output the file
df_with_keys.to_csv("youtube_Spam.csv")

# data cleanning

In [70]:
df = df_with_keys

In [71]:
# Check for missing nan
df.isnull().isnull().sum()

COMMENT_ID    0
AUTHOR        0
DATE          0
CONTENT       0
CLASS         0
dtype: int64

In [72]:
df_data = df[["CONTENT","CLASS"]]
df_data

                                                       CONTENT  CLASS
Psy     0    Huh, anyway check out this you[tube] channel: ...      1
        1    Hey guys check out my new channel and our firs...      1
        2               just for test I have to say murdev.com      1
        3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
        4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
...                                                        ...    ...
Shakira 365  I love this song because we sing it at Camp al...      0
        366  I love this song for two reasons: 1.it is abou...      0
        367                                                wow      0
        368                            Shakira u are so wiredo      0
        369                         Shakira is the best dancer      0

[1956 rows x 2 columns]

In [116]:
# Extract Feature With CountVectorizer
feature = df['CONTENT']
cv = CountVectorizer()
X = cv.fit_transform(feature) # Fit the Data
y = df['CLASS']

In [117]:
#split data
X_train_counts, X_test, y_train_counts, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [118]:
from sklearn.feature_extraction.text import TfidfTransformer
tf = TfidfTransformer()
X_train_tfidf = tf.fit_transform(X_train_counts)
X_test_tfidf = tf.fit_transform(X_test_counts)

# Model with count

In [119]:
# Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train_counts,y_train)
nb.score(X_test_counts,y_test)

0.9195046439628483

In [120]:
print("Accuracy of Model",nb.score(X_test_counts,y_test_counts)*100,"%")

Accuracy of Model 91.95046439628483 %

# Logistic Model with tfidf

In [129]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()
lg.fit(X_train_tfidf,y_train)
lg.score(X_test_tfidf,y_test)

0.9504643962848297

In [130]:
print("Accuracy of Model",lg.score(X_test_tfidf,y_test)*100,"%")

Accuracy of Model 95.04643962848297 %

## test with example

In [133]:
test_sample1 = ["hello"]
print("navie bayes classifier results is ",nb.predict(cv.transform(test_sample1)))
print("logistic regression classifier result is ",lg.predict(tf.transform(cv.transform(test_sample1))))
test_sample2 = ["i love this video"]
print("navie bayes classifier results is ", nb.predict(cv.transform(test_sample2)))
print("logistic regression classifier result is ",lg.predict(tf.transform(cv.transform(test_sample2))))

navie bayes classifier results is  [1]
logistic regression classifier result is  [0]
navie bayes classifier results is  [0]
logistic regression classifier result is  [0]

Due to the independece of the predictor variable, we will select navie base classifier as our final model.